// MAIN 
main {
        
    //position and size
    position: relative;
    @media (min-width: 600px){
        margin-left: $navsize + 30px;
    }

    //BLUE BACKGROUND SHAPES

    .bg {
        // position and size
        position: absolute;

        @media (min-width: 600px){
            left: -40px;
        }
        z-index: -999;
        width: 100vw;
        height: 70vh;

        // style
        background-image: url(../pics/techno.jpg);
        background-size: cover;
        background-color: #0143d1;
        opacity: 0.5;
        background-blend-mode: soft-light ;

    }

    #bg1 {
        // position and size
        top: -20px;

        //style
        clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
    }

    #bg2 {
        //position
        bottom: -20px;

        //style
        clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%); 
       
    }  
}







