
body {
    background-color: rgba(173, 201, 255, 0.2);
}

@media (min-width: 200px){
    main {
        padding-left: 20px;
    }
}

@media (min-width: 600px){
    main {
        color: red;
        position: absolute;
        left: 270px;
        padding-right: 40px;
    }
}

h1 {
    margin: 20px 0 20px 0;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    margin: 15px 0 15px 0;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, ul {
    margin: 10px 0 10px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    padding-left: 40px;
}

.code {
    border: ridge black;
    background-color: rgb(251, 251, 251);
    margin: 10px 18px 10px 0;
    padding: 10px;
}


