$navsize: 200px;



// ALL NAV 

nav {
    //layout
    top: 0;
    z-index: 999;
    //large screens
    @media (min-width: 600px){
        width: $navsize;
        height: 100%; 
        position: fixed;
    }
    // small screens
    @media (max-width: 600px){
        width: 100%;
        height: $navsize;
    }

    // style
    background-color: rgb(230,230,230);



    // HEADER OF NAVBAR

    header {
            
        //style
        text-align: center;

        // TOPIC TITLE 

        #topic {
            //style
            font-size: 1.8rem;
            font-weight: 700;
            margin: 0;
            padding: 20px 0 20px 0;
        }
    }

    

    // HOME BUTTON

    #gohomebutton {
    //layout
        // small screens
        @media (max-width: 600px){
            z-index: 999;
            position: fixed;
            bottom: 30px;
            right: 30px;
        }
        // large screens
        @media (min-width: 600px){
            display: none;
        }

        //style
        width: 50px;
        height: 50px;
        background-color: rgb(0, 0, 194);
        border-radius: 10px;
        transition: all 0.1s ease-in-out;
        cursor: pointer;

        .fa-home {
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
        }

    }

    #gohome:hover {
        transform: scale(105%);
        transition: all 0.1s ease-in-out;
    }


    
    // NAVIGATION LIST

    .navigation {

        //layout
        //small screens
        @media (max-width: 600px){
                height: 120px;
        }
        //large screens
        @media (min-width: 600px){
                height: 80vh;
        }
        overflow-y: scroll;  

        // style
        ul {
            li {
                border-top: solid black 1px;
                padding: 20px 0 20px 40px;
            
                a {                         
                    color: black;
                    text-decoration: none;
                    font-size: 1rem;
                }
            }

            li:hover {
                    background-color: white ;
            }
        }   
    }
}
