* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
    
}

main {
    position : relative;
    overflow-x: hidden;
}

@media (min-width: 600px) {

    .bg {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-image: url(../pics/techno.jpg);
        background-size: cover;
        background-color: #0143d1;
        opacity: 0.5;
        background-blend-mode: soft-light ;
        z-index: -999;
    }

    #bg {
        
        clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);

    #bg2 {

        bottom: 0%;
        clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%); 
       
    } 
}




@import "./maincontent";
@import "./navbar";


