* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  overflow-x: hidden;
  background-color: rgba(173, 201, 255, 0.2);
  font-family: 'Segoe UI', sans-serif;
}

body nav {
  top: 0;
  z-index: 999;
  background-color: #e6e6e6;
}

@media (min-width: 600px) {
  body nav {
    width: 200px;
    height: 100%;
    position: fixed;
  }
}

@media (max-width: 600px) {
  body nav {
    width: 100%;
    height: 200px;
  }
}

body nav header {
  text-align: center;
}

body nav header #topic {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
  padding: 20px 0 20px 0;
}

body nav #gohomebutton {
  width: 50px;
  height: 50px;
  background-color: #0000c2;
  border-radius: 10px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

@media (max-width: 600px) {
  body nav #gohomebutton {
    z-index: 999;
    position: fixed;
    bottom: 30px;
    right: 30px;
  }
}

@media (min-width: 600px) {
  body nav #gohomebutton {
    display: none;
  }
}

body nav #gohomebutton .fa-home {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

body nav #gohome:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

body nav .navigation {
  overflow-y: scroll;
}

@media (max-width: 600px) {
  body nav .navigation {
    height: 120px;
  }
}

@media (min-width: 600px) {
  body nav .navigation {
    height: 80vh;
  }
}

body nav .navigation ul li {
  border-top: solid black 1px;
  padding: 20px 0 20px 40px;
}

body nav .navigation ul li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

body nav .navigation ul li:hover {
  background-color: white;
}

body main {
  position: relative;
}

@media (min-width: 600px) {
  body main {
    margin-left: 230px;
  }
}

body main p {
  margin: 10px 30px 10px 30px;
  text-indent: 1rem;
  text-align: justify;
}

@media (min-width: 600px) {
  body main p {
    margin: 10px 40px 10px 10px;
  }
}

body main .code {
  border: groove black;
  background-color: #fbfbfb;
  margin: 10px 30px 10px 30px;
  padding: 20px;
}

@media (min-width: 600px) {
  body main .code {
    margin: 10px 40px 10px 10px;
  }
}

body main h1 {
  margin: 10px 30px 10px 30px;
  font-size: 1.8rem;
}

@media (min-width: 600px) {
  body main h1 {
    margin: 10px 40px 10px 10px;
  }
}

body main h2 {
  margin: 10px 30px 10px 30px;
  font-size: 1.5rem;
  font-weight: 600;
}

@media (min-width: 600px) {
  body main h2 {
    margin: 10px 40px 10px 10px;
  }
}

body main .bg {
  position: absolute;
  z-index: -999;
  width: 100vw;
  height: 70vh;
  background-image: url(../pics/techno.jpg);
  background-size: cover;
  background-color: #0143d1;
  opacity: 0.5;
  background-blend-mode: soft-light;
}

@media (min-width: 600px) {
  body main .bg {
    left: -40px;
  }
}

body main #bg1 {
  top: -20px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
}

body main #bg2 {
  bottom: -20px;
  -webkit-clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
          clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
}
/*# sourceMappingURL=style.css.map */