* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: rgba(173, 201, 255, 0.2);
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden;
}

body nav {
  border: solid red;
  position: fixed;
  width: 200px;
  height: 100vh;
}

body main {
  display: block;
  border: solid green;
  position: relative;
  width: 75%;
  left: 230px;
}

body main .bg {
  position: absolute;
  left: -40px;
  z-index: -999;
}

body main section {
  border: solid blue;
  position: relative;
}

@media (min-width: 600px) {
  main .bg {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../pics/techno.jpg);
    background-size: cover;
    background-color: #0143d1;
    opacity: 0.5;
    background-blend-mode: soft-light;
    z-index: -999;
  }
  main #bg {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
  }
}

@media (min-width: 600px) {
  main #bg2 {
    bottom: 0%;
    -webkit-clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
            clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
  }
}

h1 {
  margin: 20px 0 20px 0;
  font-size: 1.8rem;
}

h2 {
  margin: 15px 0 15px 0;
  font-size: 1.5rem;
  font-weight: 600;
}

p, ul {
  margin: 10px 0 10px 0;
}

ul {
  padding-left: 40px;
}

.code {
  border: ridge black;
  background-color: #fbfbfb;
  margin: 10px 18px 10px 0;
  padding: 10px;
  color: red;
}

@media (min-width: 600px) {
  .bg {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url(../pics/techno.jpg);
    background-size: cover;
    background-color: #0143d1;
    opacity: 0.5;
    background-blend-mode: soft-light;
    z-index: -999;
  }
  #bg {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 51%, 0 100%);
  }
  #bg2 {
    bottom: 0%;
    -webkit-clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
            clip-path: polygon(0 65%, 100% 35%, 100% 100%, 0% 100%);
  }
}

@media (min-width: 600px) {
  nav {
    background-color: #e6e6e6;
  }
  nav header {
    text-align: center;
    border: solid black;
  }
  nav .navigation {
    border: solid blue;
  }
}

/*
@media (max-width: 600px){

    nav {
        
        
        background-color: rgb(230,230,230);
        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .navigation {
            height: 150px;
            overflow-y: scroll;
            overflow-x: hidden;

            ul {
                left: 0;
                list-style-type: none;
                padding-left: 0;

                li {
                    width:100vw;
                    border-top: solid black 1px;
                    margin: 0;
                    padding: 10px 0 10px 40px;

                    a {                         
                        color: black;
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }

                li:hover {
                    background-color: white ;
                }

            }
        }
    }
    
}

@media (min-width: 600px){
    nav {
        height: 100vh;
        border-right: solid lightgrey 3px;
        background-color: rgb(230,230,230);  
        
        
        
        header {
            display: relative;
            left: 50%;
            
        }

        .navigation {    
            width: 250px;
            height: 80vh;
            overflow-y: scroll;
            overflow-x: hidden;

            ul {
                left: 0;
                list-style-type: none;
                padding-left: 0;
                

                li {                    
                    width:250px;
                    border-top: solid black 1px;
                    margin: 0;
                    padding: 20px 0 20px 0;

                    a {                         
                        color: black;
                        padding-left: 30px;
                        text-decoration: none;
                        font-size: 1.2rem;
                    }

                }

                li:hover {
                    background-color: white; 
                }

            }

        }
    }
}
*/
/*# sourceMappingURL=style.css.map */