* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

// BODY

body {

    //layout
    overflow-x: hidden;

    //styles
    background-color: rgba(173, 201, 255, 0.2);
    font-family: 'Segoe UI', sans-serif;
        
    @import "./navbar";

    @import "./maincontent";
}












