$navsize: 200px;

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

// POSITIONS IN BODY

body {
    background-color: rgba(173, 201, 255, 0.2);
    font-family: 'Segoe UI', sans-serif;
    
    overflow-x: hidden;
    

    nav {
        border : solid red;
        position: fixed;
        width: $navsize;
        height: 100vh;
       
    }

    main {
        display: block;
        border: solid green;
        position: relative;
        width: 75%;
        left: $navsize + 30px;

        .bg {
            position: absolute;
            left: -40px;
            z-index: -999;
        }

        section {
            border: solid blue;
            position: relative;
           
        }
        
    }
}








@import "./maincontent";
@import "./navbar";


